<!--header-->


<!--correctivos-->


<div class="col-lg-12 col-md-12  mt-4        ">

    <!--Panel-->
    <div class="card "       >

        
            <div class="card-header   light-blue lighten-1 white-text text-uppercase  font font-weight-bold  h4    text-center   "   >
        
                <a [routerLink]="['/ots']"  [routerLinkActive]="['active']" class=""   >  <i class="fas fa-angle-right  float-right fa-2x  mr-3 white-text"></i>   </a>
                

                <span  class="  "   >hallazgos</span>          
        
                
                <a [routerLink]="['/ordenes-en-proceso']"      >  <i class="fas fa-angle-left  float-left fa-2x  ml-3 white-text"></i> </a>
 
            </div>
    
             <div class="card-header text-center font-weight-bold text-uppercase pt-3  pb-2  ">

              <form class="form-inline  h3  active-light active-black-4 "    >
                <i class="fas fa-search     " aria-hidden="true"></i>
                <input class="form-control form-control-sm ml-3    w-75         " style="height: 40px!important;"  
                  type="text"   placeholder="buscador"  aria-label="buscador">
              </form>
        

            </div>



        <div class="card-body">

            <ul class="list-group">

                <li class="list-group-item            ">
                
                    <a class="d-inline-block  text-left h3   " data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                    FyCSA
                      </a>

                      <div class="collapse" id="collapseExample">
                        <div class="  lead  ">

                            <a class="" href=""> RDR200502 Grupo Electrógeno </a><br>
                            <a href="">NA200501 Grupo Electrógeno</a><br>
                            <a href="">VID200501 Grupo Electrógeno</a><br>


                        </div>
                        
                    </div>

                    <span class="badge badge-danger  badge-pill    float-right   ">14</span>

          </li>


<!--termina-->
          

          <li class="list-group-item            ">

                    
            <a class="d-inline-block  text-left h3   " data-toggle="collapse" href="#collapseExample2" role="button" aria-expanded="false" aria-controls="collapseExample2">
            CM Fuerza
              </a>

              <div class="collapse" id="collapseExample2">
                <div class="  lead  ">

                    <a class="" href=""> VLD200501 PCD </a><br>
                    <a href="">LVT200501 PCD </a><br>
                    <a href="">RDR200501 PCD </a><br>


                </div>
                
            </div>

            <span class="badge badge-danger badge-pill    float-right   ">14</span>

    
  </li>



          <!--separacion-->
          
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Morbi leo risus
            <span class="badge badge-danger badge-pill">14</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Cras justo odio
            <span class="badge badge-danger badge-pill">14</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Dapibus ac facilisis in
            <span class="badge badge-danger badge-pill">21</span>
          </li>
        </ul>
        <p class="text-small text-muted mb-0 pt-3">* At vero eos et accusamus et iusto ducimus.</p>
      </div>
    </div>
    <!--/.Panel-->